spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/xindar
    username: postgres
    password: postgres
    name: xindar
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
server:
  port: 8081
  error:
    include-message: always

allowed:
  origin: "*"